
#tab-wrap {
	width: 300px;
	height: 200px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

#tab-wrap .tab-hd {
	height: 35px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

#tab-wrap .tab-hd span {
	display: inline-block;
	width: 80px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

#tab-wrap .tab-hd .active {
	border-right: 1px solid #ccc;
	background-color: #ccc;
	color: #fff;
}

#tab-wrap .tab-bd .tab-bd-content {
	display: none;
}
.main {
	.bg{
		width: 100px;
		height: 100px;
		background-image: url(../../images/zdg.png)
	}
}
